{% extends "layout.html" %}

{% block title %}
    Accountability
    
{% endblock %}

{% block main %}
    <style>
        .bg {
            background-color: darkgray;
        }
    </style>
    <div class="title">About Page (WIP)</div>
    

    <div style="text-align: center; padding-top: 10%; ">
        <table style="width:100%; background-color:#E6E6E3; border-radius: 5px;">
            <tr>
                <td>
                    <div  style="font-size: 2em; padding-right: 15%">
                        Why?
                    </div>
                    <p style="font-size: 1.3em; padding-right: 20%;" >We use the internet for everything: homework, browsing, playing games, etc. With so many resources available to us, it's easy to get distracted. Really easy. That's why we created Ac<b>count</b>ability, an innovative solution that helps us keep each other productive.</p>
                </td>
                <td>
                    <p style="font-size: 2em">Members:</p>
                    <ul>
                        <li>Samuel Lao</li>
                        <li>Aditya Subramanian</li>
                        <li>Samhita Kash</li>
                        <li>Tarek Zaher</li>
                    </ul>
                </td>
            </tr>
        </table>

        <br>
        <br>
    <div style="text-align: center;background-color: lightgrey; border-radius: 5px;">    
        <p style= "font-size: 1.3em">Competition Details</p>
        <p> This is our submission for the 2022 TeenTechSF Hackathon, falling under the prompt "Connections".</p> 
    </div> 
    </div>
{% endblock %}