{% extends "layout.html" %}

{% block title %}
    Accountability
{% endblock %}

{% block main %}
    <div class="title">About Page (WIP)</div>
    <div class = "center">
        <p style= "font-size: 1.3em" >Members</p>
        <p>Our members are:</p>
        <ol>
            <li>Samuel Lao</li>
            <li>Aditya Subramanian</li>
            <li>Samhita Kash</li>
            <li>Tarek Zaher</li>
        </ol>
        <br>
        <br>
        <p style= "font-size: 1.3em">Competition Details</p>
        <p> This is our submission for the 2022 TeenTechSF Hackathon, falling under the prompt "Connections".</p>  
    </div>
{% endblock %}