{% extends "layout.html" %}

{% block title %}
    Find Your Topic
{% endblock %}

{% block javascript %}
    <script>
        
        console.log("work");
        function select(id) {
            var allTopics = document.getElementsByClassName("topic");
            Array.from(allTopics).forEach(topic => {
                topic.classList.remove("selected");
            })
            var selectedBtn = document.getElementById(id);
            selectedBtn.classList.add("selected");

            var chooseBtn = document.getElementById("topic-btn");
            chooseBtn.removeAttribute("disabled");
            chooseBtn.value = id;
            
            console.log(chooseBtn.value)
        }
    </script>
{% endblock %}

{% block main %}
    <div style="text-align:center; line-height:60%;">
        In five words or less,
    </div>
    <div class="title">What are you pursuing?</div>
    <div style="text-align:center;">
        This could be a class, a hobby, a project, or anything else you can conceive of.
        <br> Make sure it's broad so others can find it too!
    </div>
        <form action="/find-topics", method="post" style="text-align:center;">
            <div class="input-group mb-3" style="padding: 1em 30% 0em 30%">
                <input autofocus style="border:2px solid black; box-shadow:none !important;" type="text" name="topic" class="form-control" placeholder="Your Topic" aria-describedby="button-addon2">
                <button style="border:2px solid black;" class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
    <!-- Results here -->
    <div class="error"> {{ error }} </div>

    <div style="margin-left: 30%; margin-right: 30%;">
    {% for match in matches %}  
        <div id={{ match | replace(' ', '-') }} onmousedown="select(this.id)" class="topic" style="border-radius:4px;"> {{ match }} </div>
    {% endfor %}
    </div>

    {% if matches|length > 0 %}
        <form action="/find-topics", method="post" style="text-align:center;">
            <div class="input-group mb-3" style="padding: 1em 30% 0em 30%">
                <button style="width:100%" class="btn btn-primary" type="submit" id="topic-btn" value="null" name="topic-btn" disabled>Choose Topic</button>
            </div>
        </form>
    {% endif %}

    <div class="title" style='padding-top:1em;'>...or how about some inspiration?</div>

    <!-- Random Topics down here! -->
{% endblock %}