{% extends "layout.html" %}

{% block title %}
    Accountability
{% endblock %}

{% block main %}
    <div class="title" style="padding-bottom:20px">It's so easy, we didn't even need to design this page.</div>
    <p style="text-align: center; font-size: 1.3em;">1. Log in or create an account using the "Log In" button .<br><br> 2. Once you're logged in, press the "Let's Get Started!" button. Put a topic you're interested in or try out a reccomended one.<br><br>3. If another user entered the same topic, you two will be "matched up". Their email will be displayed for contact, and from there you could help each other out with said topic. <br><br> </p>
    

{% endblock %}